<%= form_with model: @genre, local: true do |f| %>
<div class="form_wrapper">
  <%= render "layouts/errors", resource: f.object %>

  <% if new_or_not %>
  <div class="row">
    <div class='<%= label_class %>'>
      <%= f.label :iae, "収入か支出か選択してください" %>
    </div>
    <div class="<%= form_class %>">
      <%= f.select :iae, [["支出",false],["収入",true]], {selected: @genre.iae}, class: "form-control", id: "select" %>
    </div>
  </div>
  <% end %>

  <div class="row">
    <div class='<%= label_class %>'>
      <%= f.label :name, "名前を入力してください" %>
    </div>
    <div class="<%= form_class %>">
      <%= f.text_field :name, value: @genre.name, class: "form-control", id: "name" %>
    </div>
  </div>

  <%= f.submit "ジャンル登録", class: "btn btn-primary", role: "button" %>
</div>

<% end %>