<div class="table_contents">
<%= paginate @axs, param_name: :ax_page %>
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th>日付</th>
          <th>振替元アカウント</th>
          <th>振替金額</th>
          <th></th>
          <th>振替先アカウント</th>
          <th>振替先金額</th>
          <th>引き落とし日</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
      <% a=0 %>
      <% @axs.each do |ax| %>
        <tr>
          <td><%= l ax.date unless a==ax.date %></td>
          <td><%= ax.source_name %></td>
          <td><%= ax.value.to_s(:currency, locale: ax.source_currency.locale) %></td>
          <td>→</td>
          <td><%= ax.to_account_name %></td>
          <td><%= ax.to_value.to_s(:currency, locale: ax.to_currency.locale) %></td>
          <td><%= l ax.pay_date if ax.pay_date %></td>
          <td>
            <%= link_to "削除", account_exchange_path(ax.id), method: :DELETE, data: {confirm: "削除してよろしいですか？", turbolinks: false} %>
          </td>
          <td>
            <%= link_to "編集", edit_account_exchange_path(ax.id) %>
          </td>
        </tr>
        <% a = ax.date %>
        <% end %>
      </tbody>
    </table>
  </div>
  <%= paginate @axs, param_name: :ax_page %>
</div>