
<div class="table_contents">
  <%= paginate @events %>
  <div class="table_head row">
    <li class="col-sm-2">日付</li>
    <li class="col-sm-1">ジャンル</li>
    <li class="col-sm-2">アカウント</li>
    <li class="col-sm-2">メモ</li>
    <li class="col-sm-1">金額</li>
    <li class="col-sm-2">引き落とし日</li>
  </div>

  <% @events.each do |event| %>
  <div class="table_body row  <%= which_iae(event) %>">
    <li class="col-8 offset-2 col-sm-2 offset-sm-0 mobile_date"><%= l event.date %></li>
    <div class="col-6 col-sm-1">
      <div class="mobile_th">ジャンル</div>
      <li><%= event.genre.name %></li>
    </div>
    <div class="col-6 col-sm-2">
      <div class="mobile_th">アカウント</div>
      <li><%= account_or_card_name(event) %></li>
    </div>
    <div class="col-12 col-sm-2">
      <div class="mobile_th"><%= "メモ" if event.memo? %></div>
      <li><%= event.memo %></li>
    </div>
    <div class="col-4 offset-4 col-sm-1 offset-sm-0 mobile_value">
      <div class="mobile_th">金額</div>
      <li>¥<%= plus_minus(event)%><%= event.value.to_s(:delimited) %></li>
    </div>
    <div class="col-4 col-sm-2">
      <div class="mobile_th"><%= "引き落とし日" if event.pay_date %></div>
      <li><%= l event.pay_date if event.pay_date %></li>
    </div>
    <li class="col-6 col-sm-1">
      <%= link_to "削除", user_event_path(params[:user_id], event.id), method: :DELETE, data: {confirm: "削除してよろしいですか？", "turbolinks" => false} %>
    </li>
    <li class="col-6 col-sm-1">
      <%= link_to "編集", edit_user_event_path(params[:user_id], event.id) %>
    </li>
  </div>
  <% end %>
  <%= paginate @events %>
</div>