<div class="tab-pane <%= active %>" id="<%= tab_id %>">
  <%= form_with model: [current_user, @event], local: true do |f| %>
  <div class="form_wrapper" id="<%= backcolor %>">

    <%= render "layouts/errors", resource: f.object %>

    <%= f.select :iae, [["支出",false],["収入",true]], {selected: iae}, style: "display:none" %>

    <div class="row">
      <div class='<%= label_class %>'>
        <%= f.label :date, "日付を選択してください", class: "date_label" %>
      </div>
      <div class="<%= form_class %>">
        <%= f.date_select :date, {selected: date_for_new(@event)}, class: "form-control", id: "date" %>
      </div>
    </div>

    <div class="row">
      <div class='<%= label_class %>'>
        <%= f.label :genre, "ジャンルを選択してください" %>
        (<%= link_to "ジャンルを作成", new_user_genre_path %>)
      </div>
      <div class="<%= form_class %>">
        <%= f.collection_select :genre, current_user.genres.where(iae: iae), :id, :name, {selected: genre_id_for_event(iae)}, {class: "form-control", id: "select"} %>
      </div>
    </div>

    <% if !iae && current_user.cards.exists? %>
    <ul class="nav nav-tabs <%= label_class %>" id="card-account">
      <li class="nav-item">
        <a class="nav-link <%= active_is_account_or_card_for_event(iae)[:account] %>" href="#tab_account" data-toggle="tab" id='account'>アカウント</a>
      </li>
      <li class="nav-item">
        <a class="nav-link <%= active_is_account_or_card_for_event(iae)[:card] %>" href="#tab_card" data-toggle="tab" id='card'>クレジットカード</a>
      </li>
    </ul>
    <% else %>
    <div class='<%= label_class %>'>
      <%= f.label :account, "アカウントを選択してください" %>
    </div>
    <% end %>

    <%= f.select :account_or_card, [["account",0],["card",1]], {selected: active_is_account_or_card_for_event(iae)[:number]}, style: "display:none", id: "account_or_card" %>

    <div class="tab-content">
      <div class="tab-pane <%= active_is_account_or_card_for_event(iae)[:account] %>" id="tab_account">
        <div class="row">
          <div class="<%= form_class %>">
            <%= f.collection_select :account, current_user.accounts, :id, :name, {selected: account_id_for_event(iae)}, {class: "form-control", id: "select"} %>
          </div>
        </div>
      </div>

      <div class="tab-pane <%= active_is_account_or_card_for_event(iae)[:card] %>" id="tab_card">
        <div class="row">
          <div class="<%= form_class %>">
            <%= f.collection_select :card, current_user.cards, :id, :name, {selected: card_id_for_event}, {class: "form-control", id: "select"} %>
          </div>
        </div>
      </div>
    </div>


    <div class="row">
      <div class='<%= label_class %>'>
        <%= f.label :memo, "メモ" %>
      </div>
      <div class="<%= form_class %>">
        <%= f.text_field :memo, value: @event.memo, class: "form-control", id: "text" %>
      </div>
    </div>

    <div class="row">
      <div class='<%= label_class %>'>
        <%= f.label :value, "金額を入力してください" %>
      </div>
      <div class="<%= form_class %>">
        <%= f.text_field :value, value: @event.value, class: "form-control", id: "value" %>
      </div>
    </div>

    <% if @event.card && edit %>
    <div class="row">
      <div class='<%= label_class %>'>
        <%= f.label :pay_date, "引き落とし月を選択してください", class: "date_label" %>
      </div>
      <div class="<%= form_class %>">
        <%= f.date_select :pay_date, {discard_day:true, selected: @event.pay_date}, class: "form-control", id: "date" %>
      </div>
    </div>
    <% end %>

    <%= f.submit "イベント登録", class: "btn btn-primary", role: "button" %>

  </div>
  <% end %>
</div>