<div class="search_column">
  <%= form_with(url: events_search_path, :method => :get, class: "form1", local: true) do |f| %>
  <div class="search_row row">
    <div class="col-12 col-sm-5">
      収支を選択してください
    </div>
    <div class="col-12 col-sm-5">
      <%= f.select :iae, [["全て","0"],["支出",false],["収入",true]], {selected: iae}, class: "form-control", id: "iae_select" %>
    </div>
  </div>

  <div class="search_row row">
    <div class="col-12 col-sm-5">
      日付
    </div>
    <div class="col-12 col-sm-5">
      <%= f.select :date_or_not, [["指定しない","0"],["指定する","1"]], {selected: date_or_not},class: "form-control", id: "date_select" %>
    </div>
  </div>
  <div class="date_area_<%= css_date %> date_area">
    <label>日付範囲を選択してください</label><br />
    <%= f.date_select :date1, {start_year:Time.now.year, end_year:1970, selected: date1}, class: "form-control", id: "date_s" %>〜
    <%= f.date_select :date2, {start_year:Time.now.year, end_year:1970, selected: date2}, class: "form-control", id: "date_s" %>
  </div>

  <div class="search_row row">
    <div class="col-12 col-sm-5">ジャンル</div>
    <div class="col-12 col-sm-5">
      <%= f.collection_select :genre, current_user.genres, :id, :name, {include_blank: "全て", selected: genre}, {class: "form-control", id: "genre_select"} %>
    </div>
  </div>

  <div class="search_row row">
    <div class="col-12 col-sm-5">アカウント</div>
    <div class="col-12 col-sm-5">
      <%= f.collection_select :account, current_user.accounts, :id, :name, {include_blank: "全て", selected: account}, {class: "form-control", id: "select"} %>
    </div>
  </div>

  <div class="search_row row">
    <div class="col-12 col-sm-5">カード</div>
    <div class="col-12 col-sm-5">
      <%= f.collection_select :card, current_user.cards, :id, :name, {include_blank: "全て", selected: card}, {class: "form-control", id: "select"} %>
    </div>
  </div>


  <div class="search_row row">
    <div class="col-12 col-sm-5">メモで検索</div>
    <div class="col-12 col-sm-5">
      <%= f.text_field :memo, value: memo, placeholder: "メモで検索", class: "form-control", id: "name" %>
    </div>
  </div>

  <div class="search_row row">
    <div class="col-12 col-sm-5">金額</div>
    <div class="col-12 col-sm-5">
      <%= f.select :money_or_not, [["指定しない","0"],["指定する","1"]], {selected: money_or_not}, class: "form-control", id: "money_select" %>
    </div>
  </div>
  <div class=" money_area_<%= css_money %> money_area">
    <label>金額の範囲を入力してください</label><br />
    <div class="money_inline">
      <%= f.text_field :money1, value: money1, class: "form-control", id: "name" %> 〜
      <%= f.text_field :money2, value: money2, class: "form-control", id: "name" %>
    </div>
  </div>

  <div class="search_btn">
    <%= f.submit "検索", class: "btn btn-primary", role: "button" %>
  </div>

  <% end %>
</div>