<div class="table_contents">
<%= paginate @fund_user_histories, param_name: :fuh_page %>
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th>日付(支払日)</th>
          <th>買or売</th>
          <th>買付日</th>
          <th>アカウント</th>
          <th>手数料</th>
          <th>金額</th>
          <th>引き落とし日</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
      <% a=0 %>
      <% @fund_user_histories.each do |fuh| %>
        <tr>
          <td><%= l fuh.date unless a==fuh.date %></td>
          <td><%= fuh.buy_or_sell_name %></td>
          <td><%= l fuh.buy_date if fuh.buy_date %></td>
          <td><%= fuh.payment_source_name %></td>
          <td><%= fuh.commission.to_s(:currency, locale: fuh.fund_user.currency.locale) %></td>
          <td><%= fuh.value.abs.to_s(:currency, locale: fuh.fund_user.currency.locale) %></td>
          <td><%= l fuh.pay_date if fuh.pay_date %></td>
          <td>
            <%= link_to "削除", fund_user_fund_user_history_path(fund_user_id: fuh.fund_user_id, id: fuh.id), method: :DELETE, data: {confirm: "削除してよろしいですか？", turbolinks: false} %>
          </td>
          <td>
            <%= link_to "編集", edit_fund_user_fund_user_history_path(fund_user_id: fuh.fund_user_id, id: fuh.id) %>
          </td>
        </tr>
        <% a = fuh.date %>
        <% end %>
      </tbody>
    </table>
  </div>
<%= paginate @fund_user_histories, param_name: :fuh_page %>
</div>