<%= javascript_pack_tag 'fund_user' %>
<h1><%= @fund_user.fund.name %>の購入履歴</h1>

<div class="row">
  <div class="col-10 offset-1 col-sm-8 offset-sm-4 col-md-6 offset-md-6 page_top_menu">
    <li><%= link_to "購入または売却", new_fund_user_fund_user_history_path(@fund_user.id), class: "square" %></li> 
  </div>
</div>

<div class='fund_user_update_form'>
<%= form_with model: @fund_user, id: "fund_user_update" do |f| %>
  <div class="row">
    <div class='<%= label_class %>'>
      <%= f.label :average_buy_value, "新しい平均取得価額を入力してください。" %>
    </div>
    <div class="<%= form_class %>">
      <%= f.text_field :average_buy_value, class: "form-control average_buy_value", id: "value" %>
    </div>
  </div>
  <Button class="btn btn-primary fund_user_button" %>平均取得価額を更新</Button>
<% end %>
</div>

<%= render 'table' %>