<%= javascript_pack_tag 'fund_user' %>
<h1><%= @fund_user.fund.name %>の購入履歴</h1>

<div class="row">
  <div class="col-10 offset-1 col-sm-8 offset-sm-4 col-md-6 offset-md-6 page_top_menu">
    <li><%= link_to "購入または売却", new_fund_user_fund_user_history_path(@fund_user.id), class: "square" %></li> 
  </div>
</div>

<div class='fund_user_update_form'>
<%= form_with model: @fund_user, id: "fund_user_update" do |f| %>
  <div class="row">
    <div class='<%= label_class %>'>
      <%= f.label :average_buy_value, "新しい平均取得価額を入力してください。" %>
    </div>
    <div class="<%= form_class %>">
      <%= f.text_field :average_buy_value, class: "form-control average_buy_value", id: "value" %>
    </div>
  </div>
  <Button class="btn btn-primary fund_user_button" %>平均取得価額を更新</Button>
<% end %>
</div>

<div class="table_contents">
  <div class="table_head row">
    <li class="col-sm-2">日付</li>
    <li class="col-sm-2">購入か売却</li>
    <li class="col-sm-2">アカウント</li>
    <li class="col-sm-1">手数料</li>
    <li class="col-sm-1">金額</li>
    <li class="col-sm-2">引き落とし日</li>
  </div>

  <% a=0 %>
  <% @fund_user_histories.each do |fund_user_history| %>
  <div class="table_body row">
    <li class="col-8 offset-2 mobile_date"><%= l fund_user_history.date %></li>
    <li class="col-sm-2 offset-sm-0  pc_date"><%= l fund_user_history.date unless a == fund_user_history.date %></li>
    <div class="col-6 col-sm-2">
      <div class="mobile_th">購入か売却</div>
      <li><%= fund_user_history.buy_or_sell ? "購入" : "売却" %></li>
    </div>
    <div class="col-6 col-sm-2">
      <div class="mobile_th">アカウント</div>
      <li><%= account_or_card_name(fund_user_history, true) %></li>
    </div>
    <div class="col-4 offset-4 col-sm-1 offset-sm-0">
      <div class="mobile_th">手数料</div>
      <li>¥<%= fund_user_history.commission.to_s(:delimited) %></li>
    </div>
    <div class="col-4 offset-4 col-sm-1 offset-sm-0 mobile_value">
      <div class="mobile_th">金額</div>
      <li>¥<%= fund_user_history.value.to_s(:delimited) %></li>
    </div>
    <div class="col-4 col-sm-2">
      <div class="mobile_th"><%= "引き落とし日" if fund_user_history.pay_date %></div>
      <li><%= l fund_user_history.pay_date if fund_user_history.pay_date %></li>
    </div>
    <li class="col-6 col-sm-1">
      <%= link_to "削除", fund_user_fund_user_history_path(@fund_user.id ,fund_user_history.id), method: :DELETE, data: {confirm: "削除してよろしいですか？", "turbolinks" => false} %>
    </li>
    <li class="col-6 col-sm-1">
      <%= link_to "編集", edit_fund_user_fund_user_history_path(@fund_user.id ,fund_user_history.id) %>
    </li>
  </div>
  <% a = fund_user_history.date %>
  <% end %>
</div>