<%= form_with model: [current_user, @card], local: true do |f| %>
<div class="form_wrapper">
  <%= render "layouts/errors", resource: f.object %>

  <div class="row">
    <div class='<%= label_class %>'>
      <%= f.label :name, "カードの名前を入力してください" %>
    </div>
    <div class="<%= form_class %>">
      <%= f.text_field :name, value: name, class: "form-control", id: "name" %>
    </div>
  </div>

  <div class="row">
    <div class='<%= label_class %>'>
      <%= f.label :account, "引き落とし先のアカウントを選択してください" %>
    </div>
    <div class="<%= form_class %>">
      <%= f.collection_select :account, current_user.accounts, :id, :name, {selected: account_id}, {class: "form-control"} %>
    </div>
  </div>

  <div class="row">
    <div class='<%= label_class %>'>
      <%= f.label :pay_date, "引き落とし日を選択してください", class: "date_label" %>
    </div>
    <div class="<%= form_class %>">
      <%= f.select :pay_date, options_for_select((1..31).to_a, pay_day), {}, class: "form-control", id: "select" %>
    </div>
  </div>

  <div class="row">
    <div class='<%= label_class %>'>
      <%= f.label :month_date, "締め日を選択してください", class: "date_label" %>
    </div>
    <div class="<%= form_class %>">
      <%= f.select :month_date, options_for_select((1..31).to_a, month_day), {}, class: "form-control", id: "select" %>
    </div>
  </div>

  <%= f.submit "クレジットカード登録", class: "btn btn-primary", role: "button" %>
</div>

<% end %>