<h1>クレジットカード一覧</h1>

<div class="row">
  <div class="col-10 offset-1 col-sm-6 offset-sm-6 col-md-4 offset-md-8 page_top_menu">
    <li><%= link_to "クレジットカード登録", new_card_path %></li>
  </div>
</div>

<div class="row">
  <div class="table_contents col-12 offset-sm-2 col-sm-8">
    <div class="table-responsive">
      <table class="table" id="table_accounts">
        <thead>
          <tr>
            <th>名前</th>
            <th>引き落とし先アカウント</th>
            <th>引き落とし日</th>
            <th>締め日</th>
            <th></th>
            <th></th>
            <th></th>
          </tr>
        </thead>

        <% @cards.each do |card| %>

        <tbody>
          <tr>
            <td>
              <%= link_to card.name, card_path(card.id) %>
            </td>
            <td>
              <%= link_to card.account.name, account_path(card.account.id) %>
            </td>
            <td><%= card.pay_date %></td>
            <td><%= card.month_date %></td>
            <td><%=link_to "詳細", pay_not_for_card_path(card.id) %></td>
            <td><%=link_to "削除", card_path(card.id), method: :DELETE, data: {confirm: "削除してよろしいですか？", turbolinks: false} %></td>
            <td><%=link_to "編集", edit_card_path(card.id) %></td>
          </tr>
        </tbody>

        <% end %>

      </table>
    </div>
  </div>
</div>