<!DOCTYPE html>
<html>

<head>
  <%= display_meta_tags default_meta_tags %>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <meta name="google-site-verification" content="aU558E-vKBtCFdk3cnqm707Qbh5je_1KtYYMns0_J4w" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <%= stylesheet_pack_tag 'application', media: 'all' %>
  <%= javascript_pack_tag 'application' %>
  <link href="https://fonts.googleapis.com/css?family=Alegreya+Sans+SC:300" rel="stylesheet">

  <%= favicon_link_tag 'favicon.png'%>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-JN25PYQNRL"></script>
  <script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
      dataLayer.push(arguments);
    }
    gtag('js', new Date());

    gtag('config', 'G-JN25PYQNRL');
  </script>
</head>

<body>
  <div class="wrapper">
    <% flash.each do |message_type, message| %>
    <div class="alert alert-<%= message_type %>"><%= message %></div>
    <% end %>

    <header>
      <% if user_signed_in? %>
      <div class="menu close">=</div>
      <div class="menu open">×</div>

      <%= link_to "+", new_event_path, class: "plus" %>
      
      <h1 class="headline">
        <%= link_to image_tag("logo.png", height: "55"), events_path %>
      </h1>

      <div class="header_list">
        <ul>
          <li><%= link_to "トップ", events_path %></li>
          <li><%= link_to "新規入力", new_event_path %></li>
          <li><%= link_to "資産情報", accounts_path %></li>
          <li><%= link_to "クレジットカード", cards_path %></li>
          <li><%= link_to "投資信託", fund_users_path %></li>
          <li class="last"><%= link_to "ショートカット", shortcuts_path %></li>
        </ul>
      </div>

      <div class="dropdown_list" id="close">
        <ul>
          <li><%= link_to "トップ", events_path %></li>
          <li><%= link_to "新規入力", new_event_path %></li>
          <li><%= link_to "資産情報", accounts_path %></li>
          <li><%= link_to "クレジットカード", cards_path %></li>
          <li><%= link_to "投資信託", fund_users_path %></li>
          <li><%= link_to "振替一覧", account_exchanges_path %></li>
          <li><%= link_to "ジャンル", genres_path %></li>
          <li class="last"><%= link_to "ショートカット", shortcuts_path %></li>
        </ul>
      </div>

      <% else %>
      <h1 class="headline"><%= link_to image_tag("logo.png", height: "60"), root_path %></h1> 
      <% end %>
    </header>

    <div class="container">
      <div class="contents" id="contents">
      <% if user_signed_in? %>
      <div class="row">
        <div class="col-10 offset-1 col-sm-8 offset-sm-4 col-md-6 offset-md-3 page_top_menu">
          <% current_user.used_currencies.each do |currency| %>
            <% if currency.id == current_user.currency.id %>
              <li>
                <%= link_to currency.name, update_user_currency_path(currency_id: currency.id), class: 'square' %>
              </li>
            <% else %>
              <li>
                <%= link_to currency.name, update_user_currency_path(currency_id: currency.id) %>
              </li>
            <% end %>
          <% end %>
        </div>
      </div>
      <% end %>

        <%= yield %>

      </div>
    </div>
    <footer>
      <% if user_signed_in? %>
      <div class="footer_menu" id="login_footer">
        <div class="index1">
          <ul>
            <li class="top_bold">一覧</li>
            <li><%= link_to "トップ", events_path %></li>
            <li><%= link_to "資産情報", accounts_path %></li>
            <li><%= link_to "クレジットカード", cards_path %></li>
            <li><%= link_to "投資信託", fund_users_path %></li>
            <li><%= link_to "ジャンル", genres_path %></li>
            <li><%= link_to "振替", account_exchanges_path %></li>
            <li><%= link_to "ショートカット", shortcuts_path %></li>
          </ul>
        </div>
        <div class="index2">
          <ul>
            <li class="top_bold">新規作成</li>
            <li><%= link_to "新規入力", new_event_path %></li>
            <li><%= link_to "アカウント", new_account_path %></li>
            <li><%= link_to "クレジットカード", new_card_path %></li>
            <li><%= link_to "ジャンル", new_genre_path %></li>
            <li><%= link_to "振替", new_account_exchange_path %></li>
            <li><%= link_to "ショートカット", new_shortcut_path %></li>
          </ul>
        </div>
        <div class="index3">
          <ul>
            <li class="top_bold">その他</li>
            <li><%= link_to "アプリの使い方", explanation_path %></li>
            <li><%= link_to "イベント検索", events_search_path %></li>
            <li><%= link_to "投資信託検索", funds_search_path %></li>
            <li><%= link_to "設定", edit_user_path(id: current_user.id) %></li>
            <li><%= link_to "登録情報", edit_user_registration_path %></li>
            <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete, data: {confirm: "ログアウトしてよろしいですか？"} %></li>
          </ul>
        </div>
      </div>
      <% end %>
      <div class="footer_list">
        <ul>
          <li><%= link_to "プライバシーポリシー", "https://kiyac.app/plivacypolicy/WYqhMfQeu1bYTZi2ta2A", target: :_blank %></li>
          <li><%= link_to "お問い合わせ", "https://docs.google.com/forms/d/e/1FAIpQLSfzP9iZYG32mfQXEHrdiLlpFTSBy7zJ-ct3f1VwkwkUJPzL7Q/viewform", target: :_blank %></li>
          <li class="last"><%= link_to "アプリトップ", root_path %></li>
        </ul>
      </div>
      <p>© All rights reserved by S.N.</p>
    </footer>
  </div>
</body>

</html>