<h1>統計情報</h1>

<div class="row">
  <div class="col-10 offset-1 col-sm-8 offset-sm-4 col-md-6 offset-md-6 page_top_menu">
    <li><%= link_to "アカウント追加", new_user_account_path, class: "square" %></li>
    <li><%= link_to "振替一覧", user_account_exchanges_path %></li>
    <li><%= link_to "新規振替", new_user_account_exchange_path %></li>
  </div>
</div>

<div class="row">
  <div class="col-12 col-md-6">
    <h2>残高</h2>
    <div class="table_contents">
      <div class="table-responsive">
        <table class="table" id="table_accounts">
          <thead>
            <tr>
              <th>現在残高</th>
              <th>引き落とし後の残高</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>¥<%= current_user.accounts.sum(:value).to_s(:delimited) %></td>
              <td>¥<%= current_user.after_pay_value.to_s(:delimited) %></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="col-12 col-md-6">
    <h2>アカウント残高</h2>

    <div class="table_contents">
      <div class="table-responsive">
        <table class="table" id="table_accounts">
          <thead>
            <tr>
              <th>アカウント</th>
              <th>金額</th>
              <th>引き落とし後の金額</th>
              <th></th>
            </tr>
          </thead>

          <% @accounts.each do |account| %>

          <tbody>
            <tr>
              <td>
                <%= link_to account.name, user_search_path(
                  account: account.id
                ) %>
              </td>
              <td>¥<%= account.value.to_s(:delimited) %></td>
              <td>¥<%= account.after_pay_value.to_s(:delimited) %></td>
              <td><%= link_to "削除", user_account_url(current_user.id, account.id), method: :DELETE, data: {confirm: "削除してよろしいですか？", "turbolinks" => false} %></td>
            </tr>
          </tbody>

          <% end %>

        </table>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-12 col-md-6">
    <h2>月ごとの収支</h2>

    <% if current_user.events.exists? %>

    <div class="table_contents">
      <div class="table-responsive">
        <table class="table" id="pm">
          <thead>
            <tr>
              <th>年</th>
              <th class="border-right">月</th>
              <th>収入</th>
              <th class="border-right">支出</th>
              <th>収支</th>
            </tr>
          </thead>

          <% a=0 %>
          <% month_count.times do |i| %>

          <tbody>
            <tr>
              <td><%= "#{prev_month_event_date(i).year}年" unless a==prev_month_event_date(i).year %></td>
              <td class="border-right">
                <%= link_to "#{prev_month_event_date(i).month}月", user_search_path(
                  date_or_not: "1",
                  "date1(1i)": prev_month_event_date(i).year,
                  "date1(2i)": prev_month_event_date(i).month,
                  "date1(3i)": "1",
                  "date2(1i)": prev_month_event_date(i).year,
                  "date2(2i)": prev_month_event_date(i).month,
                  "date2(3i)": "31",
                ) %>
              </td>
              <td>
                ¥<%= each_value_for_month(prev_month_event_date(i))[:in].to_s(:delimited) %>
              </td>
              <td class="border-right">
                ¥-<%= each_value_for_month(prev_month_event_date(i))[:ex].to_s(:delimited) %>
              </td>
              <td>
                ¥<%= each_value_for_month(prev_month_event_date(i))[:plus_minus].to_s(:delimited) %>
              </td>
            </tr>
          </tbody>

          <% a=prev_month_event_date(i).year %>
          <% end %>
        </table>
        <%= link_to "もっと見る", user_account_month_path(current_user) %>
      </div>
    </div>

    <% else %>

    <p>まだイベントがありません</p>
    <% end %>
  </div>

  <div class="col-12 col-md-6">
    <h2>年ごとの収支</h2>
    <% if current_user.events.exists? %>
    <div class="table_contents">
      <div class="table-responsive">
        <table class="table" id="pm">
          <thead>
            <tr>
              <th class="border-right">年</th>
              <th>収入</th>
              <th class="border-right">支出</th>
              <th>収支</th>
            </tr>
          </thead>

          <% current_user.how_long_months_years[:years].times do |i| %>
          <tbody>
            <tr>
              <td class="border-right">
                <%= link_to "#{prev_year_event_date(i).year}年", user_search_path(
                  date_or_not: "1",
                  "date1(1i)": prev_year_event_date(i).year,
                  "date1(2i)": "1",
                  "date1(3i)": "1",
                  "date2(1i)": prev_year_event_date(i).year,
                  "date2(2i)": "12",
                  "date2(3i)": "31",
                ) %>
              </td>
              <td>¥<%= each_value_for_year(prev_year_event_date(i))[:in].to_s(:delimited) %></td>
              <td class="border-right">¥-<%= each_value_for_year(prev_year_event_date(i))[:ex].to_s(:delimited) %></td>
              <td>¥<%= each_value_for_year(prev_year_event_date(i))[:plus_minus].to_s(:delimited) %></td>
            </tr>
          </tbody>
          <% end %>
        </table>
      </div>

    </div>

    <% else %>

    <p>まだイベントがありません</p>

    <% end %>
  </div>
</div>